<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary">Reservation</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>               
                <th>Nama</th>
                <th>Jenis Cukuran</th>
                <th>Waktu</th>
                <th>Status</th>
                <th>Kang Cukur</th>
            </thead>
        </table>
    </mat-card-content>
 </mat-card>
