<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary"(click)="productDetail({},-1)">Reservation</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>               
                <th>Nama</th>
                <th>Model</th>
                <th>Hari</th>
                <th>Status</th>
                <th>Barber</th>
                <th>Harga</th>
                <th align="right"></th>
            </thead>
        </table>
    </mat-card-content>
 </mat-card>
